<div class="jumbotron">
  <h1 class="display-4">Renewal Cat!</h1>
  <p class="lead">Beta APP, Project listing to inspect SSL certificate, to don't miss the renew.</p>
</div>

<div class="row grid">
{{#each servers}}
  <div class="grid-item col-md-12 my-2">
    <div class="row">
      <div class="col-md-1">
        {{@index}}
      </div>
      <div class="col-md-5">
        <a href="https://{{{this.domain}}}" target="_blank">{{this.domain}}</a>
      </div>
      <div class="col-md-3">
        <span class="days">{{this.daysRemaining}}</span> días restantes {{#unless this.error}} <i class="fas fa-circle green"></i> {{else}} <i class="fas fa-circle red"></i>{{/unless}}
      </div>
      <div class="col-md-3">
        {{this.validTo}}
      </div>
    </div>
  </div>
{{/each}}
</div>